*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
}

:root{
    --primary-color: #2E5077;
    --sec-color: #4DA1A9;
    --sec-color-lite: #FFC857;
    --mint-green: #50C878;
    --blue: #4DA8DA;
    --teal: #008080;
    --coal: #FF6F61;
    --golden-green: #FFD700;
    --acc-color: #F6F4F0;
    --correct: #000957;
}

body{
    background-color: var(--primary-color);
    background-image: linear-gradient(to bottom, var(--primary-color), var(--sec-color));
    /* background: linear-gradient(to bottom, #2E5077, #B6D0E2); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz__wrapper{
    background-color: var(--acc-color);
    width: 90%;
    max-width: 600px;
    margin-inline: auto;
    /* height: 93%; */
    /* max-height: 33rem; */
    min-height: 30rem;
    border-radius: 10px;
    padding: 3rem 1rem;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.08);
}

.quiz__wrapper h1{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 900;
}

.quiz_question {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.quiz_question p{
    text-transform: capitalize;
    font-size: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.answer_btn{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.answer_btn button{
    all: unset;
    background-color: var(--teal);
    /* border: 5px solid var(--primary-color); */
    padding: 0.7rem 2rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--acc-color);
    font-weight: 700;
}

.answer_btn button:hover{
    /* background-color: var(--sec-color-lite); */
    scale: 0.98;
    background-color: rgba(0, 128, 128, 0.88);
    transition: all 0.4s;
}

.answer_btn > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Class for selected answer */
.correct{
    background-color: var(--correct);
    color: var(--acc-color);
}

.quiz__wrapper > button{
    align-self: flex-start;
    background-color: var(--coal);
    border: none;
    color: var(--acc-color);
    padding: 0.7rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    top: 0.8rem;
    font-weight: 700;
}

.quiz__wrapper > button:hover{
    transform: translateY(-0.15rem);
    transition: 0.3s;
    background-color: var(--coal);
}

@media (min-width: 768px){
    .quiz__wrapper{
        /* height: 87vh; */
        padding: 2rem 1.5rem;
    }

    .quiz__wrapper h1{
        font-size: 1.8rem;
    }

    .quiz_question p{
        font-size: 1.4rem;
    }

   /*  .answer_btn{
        grid-template-columns: 1fr 1fr;
    } */

    .answer_btn button{
        font-size: 1.2rem;
    }

    .quiz__wrapper > button{
        align-self: flex-end;
        font-size: 1.1rem;
    }
}

