*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
}

:root{
    --primary-color: #2E5077;
    --sec-color: #4DA1A9;
    --sec-color-lite: #FFC857;
    --mint-green: #50C878;
    --blue: #4DA8DA;
    --teal: #008080;
    --coal: #FF6F61;
    --golden-green: #FFD700;
    --acc-color: #F6F4F0;
    --correct: #000957;
}

body{
    background-color: var(--primary-color);
    background-image: linear-gradient(to bottom, var(--primary-color), var(--sec-color));
    /* background: linear-gradient(to bottom, #2E5077, #B6D0E2); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.intro h1,p{
    color: var(--acc-color);
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.intro h1{
    font-size: 1.7rem;
    text-align: center;
}

.intro a{
    text-decoration: none;
    background-color: var(--coal);
    color: var(--acc-color);
    padding: 0.6rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 0.6rem;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid var(--acc-color);
}

.intro a:hover{
    transform: translateY(-0.15rem);
    transition: 0.3s;
    background-color: rgba(249, 87, 72, 0.9);
}

@media (min-width: 768px){
    .intro h1{
        font-size: 2.5rem;
    }
}